snippet stdio
#include <stdio.h>
endsnippet

snippet bigcomment
/***********************************************************************
 *
 * $0
 *
***********************************************************************/
endsnippet
