snippet iostream
#include <iostream>

using namespace std;

endsnippet


snippet istring
#include <string>

endsnippet

snippet imath
#include <cmath>

endsnippet

snippet ifstream
#include <fstream>

endsnippet
