snippet section
""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
"	$1
"	  - https://github.com/$1
"
"	$2
""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""

$0
endsnippet
